.wrapper{
    width: 90%;
    margin: 10px auto;
}

/* header */

.header{
    background-color: #232f3e;
    border-radius: 8px 8px 0 0;
    color: #fff;
}
.header a{
    color: #bcbdc7;
    transition: all 0.3s linear;
}

.topinfo{
    border-bottom: 1px solid #303e4f;
    display: flex;
    justify-content: space-between;
}
.accountlist{
    display: flex;

}
.acountlistlinks{
    display: block;
    padding: 5px 12px;
    
}
.acountlistlinks>i{
    padding-left: 4px;
}
.acountlistlinks:hover{
    color: #fff;
}
.languages{
    padding: 5px 0 0 10px;
}
.fa_icon{
    width: 20px;
    vertical-align: middle;
}