.wrapper {
    width: 90%;
    margin: 10px auto;
    box-shadow: 0 0 10px 0 #bcbdc7;
}

/* header */
/* top info */
.header {
    background-color: #232f3e;
    border-radius: 8px 8px 0 0;
    color: #fff;
}

.header a {
    color: #bcbdc7;
    transition: all 0.3s linear;
}

.topinfo {
    border-bottom: 1px solid #303e4f;
    justify-content: space-between;
}

.acountlistlinks {
    display: block;
    padding: 5px 12px;

}

.acountlistlinks>i {
    padding-left: 4px;
}

.acountlistlinks:hover {
    color: #fff;
}

.languages {
    padding: 5px 0 0 10px;
}

.fa_icon {
    width: 20px;
    vertical-align: middle;
}

/* header info */
.header_info {
    padding: 20px;
    border-bottom: 1px solid #303e4f;
}

.logo,
.contactus,
.cart {
    width: 20%;
}

.logo>img {
    width: 100%;
}

.searchbox {
    flex-grow: 1;
    height: 40px;
    justify-content: center;
    width: 50%;
}

.categorylist {
    border: none;
    padding: 8px 15px;
    border-radius: 0 15px 15px 0;
}

.searchinput {
    border: none;
    padding: 8px 15px;
    width: 60%;
}

.btnsearch {
    background-color: #f4a137;
    color: #fff !important;
    padding: 9px 15px;
    border-radius: 20px 0 0 20px;

}

.contactus {
    font-size: 0.8em;
}

.contactusicon {
    font-size: 2em;
    padding: 0 0.3em;
}

.cart {
    font-size: 0.8em;
}

.cart_icon {
    background-color: #f4a137;
    padding: 5px;
    border-radius: 2px;
    margin-top: 4px;
}

.contacticon {
    margin-top: 9px;
}

.topnavlist {
    position: relative;
}

.topnavlink {
    display: block;
    padding: 10px 12px;
    font-size: 0.9em;
    position: relative;
}

.topnavlink:hover {
    color: #fff;
}

.topnavitem:hover>.submenu {
    display: block;
}

.hotcategory::before {
    content: ' ';
    position: absolute;
    background-image: url(../images/icon/hot-icon.png);
    width: 35px;
    height: 21px;
    top: -12px;
    right: 25%;
}

.submenu {
    position: absolute;
    height: 200px;
    width: 100%;
    background-color: #fff;
    top: 100%;
    right: 0;
    border: 1px solid #bcbdc7;
    border-radius: 0 0 5px 5px;
    display: none;
}

.submenucontaner {
    width: 100%;
    height: 100%;
    position: relative;
}

.submenuimage {
    width: 25%;
    height: 85%;
    position: absolute;
    top: 18px;
    left: 13px;
}

.submenulist {
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 75%;
    align-content: flex-start;
    margin-right: 10px;
}

.submenuitem {
    width: 25%;

}

.submenulinks {
    display: block;
    width: 100%;
    padding: 2px 30px 0 0;
}

.submenumainlinks {
    color: #f4a137 !important;
    display: block;
    width: 100%;
}

.submenumainlinks::before {
    content: '>';
    font-size: 1.4em;
    padding-left: 5px;
}

.submenulinks:hover {
    color: #f4a137;
}

/* main */
/* section_1 */
.main {
    background-color: #fff;
}

.slider {
    height: 422px;
    padding: 10px;
}

.r_ads {
    width: 30%;
    margin-left: 10px;
}

.l_ads {
    flex-grow: 1;
}

.l_ads img,
.r_ads img {
    width: 100%;
    height: 100%;
}
/* section_2 */

.topproduct{
    background-color: #e5e5e7;
}
.topproductitem {
    flex-grow: 1;
    padding: 10px;
    font-size: 0.9em;
}
.topproductitem img{
    border-radius: 50%;
    padding-left: 10px;
}
.topproductinfo{
    align-self: center;
}
.topproductinfo span{
    font-weight: bold;
    font-size: 1.2em;
}
.topproductinfo a{
    display: block;
    margin-top: 20px;
    color: #f4a137;
}
